html, body {
  margin: 0;
  padding: 0;
}

canvas {
  display: block;  
  image-rendering: pixelated !important;
  image-rendering: -moz-crisp-edges !important;;
  image-rendering: crisp-edges !important;;
}
